dill>=0.3.8
fitspy<2026.4
matplotlib<3.10.9
openpyxl>=3.1.2
pandas>=3.0.1
pyqt_toast_notification==1.3.3
PySide6==6.10.2
PySide6_Addons==6.10.2
PySide6_Essentials==6.10.2
renishawWiRE==0.1.16
scipy==1.17.1
seaborn<0.13.3
superqt==0.7.8
qtbot==0.0.1
pytest-qt

